@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Londrina+Sketch&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-size: 14.5px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 400;
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: #272525;
  /* font-weight: 500; */
}
p,h1,h2,h3,h4,h5,h6{
  margin: 0;
}

body {
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden !important;
  font-family: 'Inter', sans-serif !important;
}

button:focus,
button:focus-visible {
  outline:none;
}

* {
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none; /* For Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

